{% extends "user/home_layout.html"%}

{% block pro%}

    <div class="container col-xxl-8 px-4 py-5" >
    
    <header class="p-3 border-bottom">
        <div class="container">
 
          <div class="row text-center">
            <div class="col-12 mb-5 text-secondary"><h3>Dashboard</h3></div>
          </div>
            
            <div class="row text-center justify-content-lg-evenly">
              
              <div class="col-md-3 text-dark px-5 mx-2 mb-3">
                <img src="/static/images/profile.png">
                 <h3><a href="{{url_for('myprofile')}}" style="text-decoration:none;"class="text-dark">My Profile</a></h3>
            </div>
            <div class="col-md-3 text-dark px-3 mx-2 mb-3">
              <img src="/static/images/saved.png">
               <h3><a href="#" style="text-decoration:none;" class="text-dark">Saved Property</a></h3>
          </div>
          <div class="col-md-3 text-dark px-2 mx-2 mb-3">
            <img src="/static/images/unlock.png">
             <h3 class="text-dark"><a href="{{url_for('changepassword')}}" style="text-decoration:none;" class="text-dark">Edit Password</a></h3>
        </div>
            </div>
          </div>
        
    </header>
    </div>
    
{% endblock pro%}