{% extends "user/home_layout.html"%}
{% block pro%}
 <!-- ======= Intro Section ======= -->
 <div class="intro intro-carousel swiper position-relative">

  <div class="swiper-wrapper">

    <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(/static/assets/img/slide-1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                 
                  <h1 class="intro-title mb-4 py-5">
                    <span class="color-b">Welcome!</span> 
                    <br> Find Your Perfect Home
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">Get started</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  </div>
  <div class="swiper-pagination"></div>
 </div>

 <!-- ======= Latest Properties Section ======= -->
 <section class="section-property section-t8">
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Latest Properties</h2>
          </div>
          <div class="title-link">
            <a href="{{url_for('proall')}}">All Property
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {#<div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
      {%if pros%}
      {% for book in pros%}
      <div class="col">
        <a href="#">
            <img src="/static/uploads/{{book.property_cover}}" class="img-fluid bk" alt="">
        </a>
        {{pros}}

        <div class="deets"><h6>{{book.property_title}} </h6>
       <p><i>{{book.catdeets.cat_name}}</i></p>
       <p><a href="">{{book.property_title}}</a></p>    
          </div>
         </div>
        {%endfor%}
        {% endif%}
        </div>#}
        {%if pros%}
        {% for pro in pros%}
        {{pro}}
    <div id="property-carousel" class="swiper">
      
      
      <div class="swiper-wrapper">
       
        <div class="carousel-item-b swiper-slide">
       
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              {{pro.property_title}}
              <a href="#">

              <img src="/static/uploads/{{pro.property_cover}}" alt="" class="img-a img-fluid">
              </a>
            </div>
                        
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">{{pro.property_location}}
                      </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">{{pro.catdeets.cat_name}} | {{pro.property_price}}</span>
                  </div>
                  <a href="{{url_for('pro_details',id=pro.property_id)}}" class="link-a">Click here to view
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                   
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>{{pro.property_beds}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>{{pro.property_garage}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>{{pro.property_garage}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- End carousel item -->


        
      </div>
    
    </div>
    {%endfor%}
    {%endif%}
    <div class="propery-carousel-pagination carousel-pagination"></div>
  </div>
</section><!-- End Latest Properties Section -->

{% endblock pro%}