{% extends "user/home_layout.html" %}
{% block pro%}

<main id="main">

  


      <section id="gallery" class="gallery">
  
  <div class="container py-5">
    
      <div class="fashion_section_2 py-5">
        
          <div class="row">
            <h1 class="fashion_taital text-center text-success py-5" id="images">PROPERTIES</h1>
            {%if pros %}
            {% for pro in pros %}
                  <div class="col-md-4">
                    <div class="box_main">
                        <div class="pro_pro">
        
                          <a href="{{url_for('pro_details',id=pro.property_id)}}" class="text-decoration-none text-success text-center">
                            <img src="/static/uploads/{{pro.property_cover}}" class=" py-5 img-fluid img-thumbnail" alt="">
                          </a>
                        </div>
                        <div class="btn_main">
                            <div class="buy_bt">
                                <h4 class="audio_text text-center text-success">
                                    
                                        TITLE: {{pro.property_title}} | PRICE: {{pro.property_price}} | Type: {{pro.property_type}}
                                  
                                </h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
                 
            {% endfor %}
            {% endif %}
          </div>
      </div>
  </div>
  
       
</section><!-- End Gallery Section -->
  


       

 

{% endblock pro%}
